html{
    height: 100%;
    margin:0%;
}
body{
    background-color: #EFECF0;
    margin:0%;
    height:100%;
}

.purplearea{
    width: 2.0%;
    height: 100%;
    background: linear-gradient(180deg, #4F007D 0%, #9930C8 100%);
    position: fixed;
}

.navbar{
    width: 18%;
    position:fixed;
    left: 2.0%;
    background-color: white;
    height: 100%;
}

.main{
    padding: 0% 0% 2% 20%;
    width: 80%;
    height: 100%;
    transition: 0.7s;
}

.white{
    padding-bottom: 1%;
}

.whitearea{
    bottom:0%;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.molekcafe{
    font-family: 'Segoe Script', sans-serif;
    font-size: 40px;
    color: #4F007D;
    text-align: center;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    height: 55%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.icon a{
    display: flex;
    text-decoration: none;
    color: black;
}

#icon{
    white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    text-decoration: none;
    padding-top: 4px;
}

.logout{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.logout a{
    display: flex;
    color: black;
    text-decoration: none;
}

.logout a:hover{
    color: #17E89B;
}

.logout img{
    margin-right: 10px;
}

#i1, #i2, #i3{
    width: 85%;
    height: 33.33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 18%;
}

#i1{
    background-color: #EFECF0;
}

#i1:hover, #i2:hover, #i3:hover, #i4:hover{
    background-color: rgb(186, 221, 221);
}

input[type="file"]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: #a29bfe;
    transition: 1s;
  }

  input {
    font-size: 20px;
    height:50px;
  }
  .imagediv {
      float:left;
      margin-top:50px;
  }
  .imagediv .showonhover {
      background:red;
      padding:20px;
      opacity:0.9;
      color:white;
      width: 100%;
      display:block;	
      text-align:center;
      cursor:pointer;
  }

  @media screen and (orientation: portrait) {
    html {
      /* Rotate the content container */
      transform: rotate(-90deg);
      transform-origin: left top;
      /* Set content width to viewport height */
      width: 100vh;
      /* Set content height to viewport width */
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }