html{
    height: 100%;
    margin:0%;
}
body{
    background-color: #EFECF0;
    margin:0%;
    height:100%;
}

.purplearea{
    width: 2.0%;
    height: 100%;
    background: linear-gradient(180deg, #4F007D 0%, #9930C8 100%);
    position: fixed;
}

.navbar{
    width: 18%;
    position:fixed;
    left: 2.0%;
    background-color: white;
    height: 100%;
}

.main{
    padding: 0% 2% 2% 22%;
    width: 76%;
    height: 100%;
    transition: 0.7s;
}

.whitearea{
    bottom:0%;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.molekcafe{
    font-family: 'Segoe Script', sans-serif;
    font-size: 40px;
    color: #4F007D;
    text-align: center;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    height: 55%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.icon a{
    display: flex;
    text-decoration: none;
    color: black;
}

#icon{
    white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    text-decoration: none;
    padding-top: 4px;
}

.logout{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.logout a{
    display: flex;
    color: black;
    text-decoration: none;
}

.logout a:hover{
    color: #17E89B;
}

.logout img{
    margin-right: 10px;
}

#i1, #i2, #i3, #i4{
    width: 85%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15%;
}

#i1{
    background-color: #EFECF0;
}

#i1:hover, #i2:hover, #i3:hover, #i4:hover{
    background-color: rgb(186, 221, 221);
}

.box{
    padding-top: 5%;
    height:20%;
    background-color: #CF71EF;
}

.empty1{
    height: 5%;
}

.topbar{
    height:9%;
    background: linear-gradient(90deg, #4F007D 0%, #9930C8 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#p1{
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.choose{
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    height:50%;
    border-radius: 20px;
    border: 10px solid;
    border-color: #4F007D;
    background-color: #4F007D;
}

.historybut{
    border-radius: 20px;
    width: 50%;
    border: 3px solid;
    border-color: #4F007D;
    background-color: #4F007D;
}

#p3{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.reservationbut{
    border-radius: 20px;
    width: 50%;
    border: 3px solid;
    border-color: #EFB4FD;
    background-color: #EFB4FD;
}

#p2{
    display: flex;
    margin-top: 3%;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.daytable{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#date{
    border-radius: 20px;
    border: 2px solid;
    border-color: black;
    font-size: x-large;
}

.date1{
    margin-left: 17.5%;
}

.table{
    margin-right: 22.5%;
}

#table{
    border-radius: 20px;
    border: 2px solid;
    border-color: black;
    font-size: x-large;
}

.empty2{
    height: 8%;
}

.reservebox{
    margin-top: 1%;
    height:16%;
    border-radius: 20px;
    border: 3px solid;
    border-color: #4F007D;
    background-color: #CF71EF;
}

.cusname{
    margin-left: 2%;
    margin-top: 1%;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tablebox{
    display: flex;
    justify-content: space-between;
}

.custableig{
    margin-left: 2%;
}

.custable{
    margin-top: 1%;
    font-size: 20px;
}

.cusseats{
    margin-top: 1%;
    margin-right: 80%;
    font-size: 20px;
}

.cusmobile{
    margin-top: 1%;
    margin-left: 2%;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
    .navbar{
        width: 23%;
    }

    .main{
        padding: 0% 2% 2% 27%;
        width: 71%;
    }

    #i1, #i2, #i3, #i4{
        width: 90%;
        padding-left: 10%;
    }

    .date1{
        margin-left: 13%;
    }

    .table{
        margin-right: 21%;
    }

    .reservebox{
        height:11%;
    }

    .cusseats{
        margin-right: 69%;
    }

    .custable{
        margin-left: 2%;
    }

    .cusmobile{
        margin-top: 1%;
    }
  }